*{
 margin:0;
 padding:0;
 box-sizing:border-box;
 font-family:Poppins,Arial;
}


body{

 background:#020617;
 color:white;

}


.container{

 min-height:100vh;
 padding:20px 70px;

}


nav{

 display:flex;
 justify-content:space-between;
 align-items:center;

}


nav h2{

 color:#38bdf8;
 font-size:30px;

}


nav button{

 margin-left:15px;
 padding:10px 20px;
 border:none;
 border-radius:20px;
 background:#1e293b;
 color:white;
 cursor:pointer;

}



.hero{

 display:flex;
 justify-content:space-between;
 align-items:center;
 height:80vh;

}



.text{

 width:50%;

}


.text h1{

 font-size:55px;
 line-height:1.2;

}


.text span{

 color:#38bdf8;

}


.text p{

 margin:25px 0;
 color:#cbd5e1;
 font-size:18px;

}



.start{

 background:#38bdf8;
 border:none;
 padding:15px 35px;
 border-radius:30px;
 font-size:18px;
 cursor:pointer;

}


.learn{

 margin-left:20px;
 padding:15px 35px;
 border-radius:30px;
 border:1px solid #38bdf8;
 background:transparent;
 color:white;

}



.card{

 background:#0f172a;
 width:350px;
 padding:35px;
 border-radius:20px;
 box-shadow:0 0 30px #38bdf8;

}



.card h2{

 color:#38bdf8;
 margin-bottom:20px;

}



.card p{

 line-height:2;

}



footer{

 text-align:center;
 color:#94a3b8;

}